.ipynb_checkpoints
*/.ipynb_checkpoints/*

*.DS_Store
.AppleDouble
.LSOverride

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

__pycache__/
*.py[cod]
*$py.class

.python-version
